<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand" style="width: 260px; padding: 0">
        <a href="/"><img src="/img/logo.png" alt="Metaboss Logo" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
<!--        <div id="navbar-menu">-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>KINGS</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#"><i class="lnr lnr-user"></i> <span>KINGS</span></a></li>-->
<!--                        <li><a href="#"><i class="lnr lnr-envelope"></i> <span>JAP</span></a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="navbar-charge">-->
<!--                    <a title="잔액" style="padding: 0"><span>2,000$</span></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>

<style>
    .brand a img {
        width: 80%;
        margin: 12px 25px;
    }
</style>