<!DOCTYPE html>
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="/" class="" name="dashboard"><i class="lnr lnr-home"></i> <span>대시보드</span></a></li>
                <li>
                    <a href="#traffic" name="traffic" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>트래픽</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="traffic" class="collapse">
                        <ul class="nav">
                            <li><a href="/traffic/products" name="products" class=""><i class="lnr lnr-dice"></i> <span>상품목록</span></a></li>
                            <li><a href="/traffic/order" name="order" class=""><i class="lnr lnr-dice"></i> <span>주문</span></a></li>
                            <li><a href="/traffic/orderList" name="orderList" class=""><i class="lnr lnr-dice"></i> <span>주문내역</span></a></li>
                        </ul>
                    </div>
                </li>
<!--                <li><a href="charts" class=""><i class="lnr lnr-chart-bars"></i> <span>통계</span></a></li>-->
<!--                <li><a href="notifications" class=""><i class="lnr lnr-alarm"></i> <span>notifications</span></a></li>-->
<!--                <li><a href="elements" class=""><i class="lnr lnr-code"></i> <span>elements</span></a></li>-->
<!--                <li><a href="panels" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>-->
<!--                <li>-->
<!--                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
<!--                    <div id="subPages" class="collapse ">-->
<!--                        <ul class="nav">-->
<!--                            <li><a href="page-profile" class="">Profile</a></li>-->
<!--                            <li><a href="login" class="">Login</a></li>-->
<!--                            <li><a href="page-lockscreen" class="">Lockscreen</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li><a href="tables" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>-->
<!--                <li><a href="typography" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>-->
<!--                <li><a href="icons" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>-->
            </ul>
        </nav>
    </div>
</div>