spring:
  web:
    resources:
      static-locations: classpath:/static/

  datasource:
    url: jdbc:mysql://localhost:3306/trafficboss?characterEncoding=utf8
    username: root
    password: dudwnsl1993!
    driver-class-name: com.mysql.cj.jdbc.Driver

  security:
    user:
      name: admin
      password: dudwnsl1993!

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
