<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:replace="common/header" />

	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<div th:replace="common/navbar" />
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div th:replace="common/sidebar" />
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content">
					<div class="container-fluid">
						<h3 class="page-title">트래픽 관리</h3>
						<div class="row">
							<div class="col-md-12">
								<!-- TABLE STRIPED -->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">주문 내역</h3>
									</div>
									<div class="panel-body table-responsive">
										<table class="table table-striped table-hover">
											<thead>
											<tr>
												<th>넘버</th>
												<th>주문번호</th>
												<th>주문타입</th>
												<th>서비스번호</th>
												<th>링크</th>
												<th>반복개수</th>
												<th>반복주기</th>
												<th>금액</th>
												<th>주문개수</th>
												<th>남은개수</th>
												<th>상태</th>
												<th>생성일자</th>
											</tr>
											</thead>
											<tbody>
<!--											<tr th:each="order,count : ${list}" onclick="">-->
<!--												<td th:text="${count.count}"></td>-->
<!--												<td th:text="${order.orderId}"></td>-->
<!--												<td th:text="${order.vendor}"></td>-->
<!--												<td th:text="${order.orderAction}"></td>-->
<!--												<td th:text="${order.service}+'$'"></td>-->
<!--												<td th:text="${order.link}"></td>-->
<!--												<td th:text="${order.quantity}"></td>-->
<!--												<td th:text="${order.runs}"></td>-->
<!--												<td th:text="${order.orderInterval}"></td>-->
<!--												<td th:text="${order.regDate}"></td>-->
<!--											</tr>-->
											</tbody>
										</table>
									</div>
								</div>
								<!-- END TABLE STRIPED -->
							</div>
						</div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			<div class="clearfix"></div>
			<footer>
				<div class="container-fluid">
					<p class="copyright">Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
	</p>
				</div>
			</footer>
		</div>
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/scripts/klorofil-common.js"></script>
		<script src="/scripts/custom.js"></script>
		<script>
			$(document).ready(function() {
				myRequests("/traffic/orderList", {"vendor":"JAP"}, "POST", getOrderList);

			});

			/**
			 * 주문 리스트 콜백 함수
			 */
			function getOrderList(data) {
				console.log(data);
			}
		</script>
	</body>

</html>
