<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/header" />

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:replace="common/navbar" />
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:replace="common/sidebar" />
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">트래픽 관리</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading col-md-9">
									<h3 class="panel-title">단일 주문</h3>
								</div>
								<div class="panel-heading col-md-3 text-right">
									<div class="btn-group">
										<div class="btn btn-default">남은금액 :</div>
										<div id="balance" class="btn btn-default"><i class="fa fa-refresh fa-spin"></i></div>
									</div>
								</div>
								<div class="panel-body">
									<form id="form" action="/traffic/addOrder" method="post">
										<input type="hidden" class="form-control" name="action" value="add">
										<input type="hidden" class="form-control" name="vendor" th:value="${vendors[0]}">
										<p>업체 선택</p>
										<div class="btn-group dropdown-group" style="padding: 0">
											<button id="vendorBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left;" th:text="${vendors[0]}" th:value="${vendors[0]}">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li th:each="vendor : ${vendors}">
													<a th:text="${vendor}" th:value="${vendor}" onclick="getVendors(this)"></a>
												</li>
											</ul>
										</div>
										<br>
										<p>서비스</p>
										<input id="service" type="hidden" name="service">
										<div class="btn-group dropdown-group" style="padding: 0">
											<button id="serviceBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left;">
												<i class="fa fa-refresh fa-spin"></i>
											</button>
											<ul id="serviceUl" class="dropdown-menu" role="menu"></ul>
										</div>
										<br>
										<br>
										<div class="well">
											<p><code>가격(1000개당)</code> : <span id="charge"></span></p>
											<p><code>최소 주문 개수</code> : <span id="minOrder"></span></p>
											<p><code>최대 주문 개수</code> : <span id="maxOrder"></span></p>
											<p><code>리필</code> :
												<span id="refill"></span>
											</p>
											<p><code>취소</code> :
												<span id="cancel"></span>
											</p>
										</div>
										<br>
										<p>URL</p>
										<input type="String" class="form-control" name="link" value="">
										<br>
										<p>주문 개수</p>
										<input id="order" name="quantity" class="form-control" type="number" value="0" onwheel="return false;">
										<br>
										<label class="fancy-checkbox">
											<input id="dripFeed" name="dripFeed" type="checkbox" onclick="dripFeedCheck(this)">
											<span><i></i>예약</span>
										</label>
										<br>
										<div id="dripFeedDiv" style="display: none">
											<p>횟수</p>
											<input id="run" name="runs" class="form-control" type="number" value="0" onwheel="return false;" disabled>
											<br>
											<p>간격(분)</p>
											<input id="term" name="interval" class="form-control" type="number" value="0" onwheel="return false;" disabled>
											<br>
											<p>총 개수</p>
											<input id="totalOrder" name="totalQuantity" type="number" class="form-control" value="0" readonly disabled>
											<br>
										</div>
										<p id="pay_text">요금</p>
										<input id="amount" name="amount" type="text" class="form-control" readonly>
										<br>
									</form>
									<div class="text-center">
										<button type="button" class="btn btn-primary" onclick="submit();">전송</button>
									</div>
								</div>
							</div>
							<!-- END TABLE STRIPED -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">
					Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
				</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/vendor/toastr/toastr.min.js"></script>
	<script src="/scripts/klorofil-common.js"></script>
	<script src="/scripts/custom.js"></script>
	<script th:inline="javascript">
		let PRODUCTS = new Object();
		let EXCHANGE = 0;
		exchange();

		$( document ).ready(function() {
			const vendor = document.getElementById("vendorBtn").value;
			myRequests("/traffic/balance", {"vendor":vendor}, "POST", getBalance);
			myRequests("/traffic/order", {"vendor":vendor}, "POST", getOrders);

			$('#order').keyup(function () {
				this.value = this.value.replace(/(^0+)/,'');
				if($('#dripFeed').is(':checked')) totalAmount(true);
				else totalAmount(false);
			});

			$('#order').blur(function () {
				let order = Number(this.value);
				const service = $('#service').val();
				const minOrder = Number(PRODUCTS[service]['minOrder']);
				const maxOrder = Number(PRODUCTS[service]['maxOrder']);
				const rate = Number(PRODUCTS[service]['rate'])/1000;

				if (order < minOrder) {
					this.value = minOrder;
					$('#amount').val(parseFloat((rate*minOrder).toFixed(7)));
				} else if (order > maxOrder) {
					this.value = maxOrder;
					$('#amount').val(parseFloat((rate*maxOrder).toFixed(7)));
				}
			});

			$('#run').keyup(function () {
				this.value = this.value.replace(/(^0+)/,'');
				totalAmount(true);
			});

			$('#run').blur(function () {
				const order = Number($('#order').val());
				const service = $('#service').val();
				const maxOrder = Number(PRODUCTS[service]['maxOrder']);
				let run = Number(this.value);
				if (order*run > maxOrder) this.value = Math.floor(maxOrder/order);
				totalAmount(true);
			});

			$('#term').keyup(function () {
				this.value = this.value.replace(/(^0+)/,'');
			});
		});

		/**
		 * 남은금액 확인 콜백 함수
		 */
		function getBalance(data) {
			document.getElementById('balance').textContent = data;
		}

		function getVendors(element) {
			const vendorBtn = document.getElementById('vendorBtn');
			const _value = element.getAttribute('value');
			vendorBtn.textContent = _value;
			vendorBtn.value = _value;
			document.getElementsByName('vendor')[0].value = _value;
			document.getElementById('balance').innerHTML = '<i class="fa fa-refresh fa-spin"></i>';
			myRequests("/traffic/balance", {"vendor":_value}, "POST", getBalance);
			myRequests("/traffic/order", {"vendor":_value}, "POST", getOrders);
		}

		/**
		 * 남은금액 확인 콜백 함수
		 */
		function getOrders(data) {
			let _ul = document.getElementById('serviceUl');
			while (_ul.hasChildNodes()) _ul.removeChild(_ul.firstChild);
			for (let i=0, dl=data.length; i<dl; i++) {
				const service = data[i]['service'];
				const productName = data[i]['productName'];
				const _li = document.createElement('li');
				const _a = document.createElement('a');
				_a.value = service;
				_a.textContent = productName;
				_a.addEventListener('click',(e) => setProduct(service));
				_li.append(_a);
				_ul.append(_li);
				PRODUCTS[service] = data[i];
			}

			setProduct(data[0]['service']);
		}

		function setProduct(service) {
			const exchange = Number(PRODUCTS[service]['rate'])*Number(EXCHANGE);
			const minOrder = Number(PRODUCTS[service]['minOrder']);
			const maxOrder = Number(PRODUCTS[service]['maxOrder']);
			const refill = Number(PRODUCTS[service]['refill']);
			const cancel = Number(PRODUCTS[service]['cancel']);
			$('#service').val(service);
			$('#serviceBtn').text(PRODUCTS[service]['productName']);
			$('#charge').text(PRODUCTS[service].rate+"($) | " + Math.ceil(exchange)+"(원)");
			$('#minOrder').text(minOrder);
			$('#maxOrder').text(maxOrder);
			if (refill === 0) $('#refill').text("없음");
			else $('#refill').text("있음");
			if (cancel === 0) $('#cancel').text("없음");
			else $('#cancel').text("있음");
		}

		/**
		 * 최종금액 적용
		 * @param dripFeed(true|false)
		 */
		function totalAmount(dripFeed) {
			const order = Number($('#order').val());
			const run = Number($('#run').val());
			const service = $('#service').val();
			const amount = $('#amount');
			const totalOrder = $('#totalOrder');
			const rate = Number(PRODUCTS[service]['rate'])/1000;
			totalOrder.val(order*run);
			if(dripFeed) amount.val(parseFloat(((rate*order)*run).toFixed(7)));
			else amount.val(parseFloat((rate*order).toFixed(7)));
		}

		/**
		 * 드립피드 체크박스 선택
		 * @param element(this)
		 */
		function dripFeedCheck(element) {
			const dripFeedDiv = document.getElementById('dripFeedDiv');
			const inputs = dripFeedDiv.querySelectorAll('input');
			if(element.checked) {
				dripFeedDiv.style.display = 'block';
				inputs.forEach(input => {
					input.disabled = false;
				});
				totalAmount(true);
			} else {
				dripFeedDiv.style.display = 'none';
				inputs.forEach(input => {
					input.disabled = true;
				});
				totalAmount(false);
			}
		}

		/**
		 * 실시간 환율정보
		 */
		function exchange() {
			$.ajax({
				type: "GET",
				url: "https://quotation-api-cdn.dunamu.com/v1/forex/recent?codes=FRX.KRWUSD",
				success: function (response) {
					console.log("exchange1 : " + response[0]['basePrice']);
					EXCHANGE = Number(response[0]['basePrice']);
				}
			})
		}

		/**
		 * 주문 요청
		 */
		function submit() {
			let form = $('#form').serializeObject();
			console.log(form);
			$.ajax({
				url: "/traffic/addOrder",
				data: form,
				type: "POST"
			}).done(function () {
				alert('요청이 완료되었습니다.');
				// toast('요청이 완료되었습니다.', 'success');
			}).fail(function () {
				toast('요청에 실패하였습니다.', 'error');
			});
		};


		/**
		 * 토스트 메시지
		 */
		function toast(msg, type) {
			console.log('toast!!');
			toastr.options.timeOut = "3000";
			toastr.options.closeButton = false;
			toastr[type](msg, '' , { positionClass: 'toast-bottom-right' });
		}
	</script>
</body>

</html>
