<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.metaboss.repository.MemberRepository">

    <select id="findByUserId" resultType="kr.co.metaboss.dto.Member">
        SELECT
            no
        ,   user_id    AS userId
        ,   user_pw    AS userPw
        ,   user_name  AS userName
        ,   user_level AS userLevel
        ,   user_ip    AS userIp
        ,   reg_date   AS regDate
        ,   mod_date   AS modDate
        FROM TB_USER
        WHERE user_id = #{userId}
    </select>

    <insert id="insertMember" parameterType="kr.co.metaboss.dto.Member">
        INSERT INTO TB_USER (
            user_id
        ,   user_pw
        ,   user_name
        ,   user_level
        ,   user_ip
        ,   reg_date
        ,   mod_date
        ) VALUES (
            #{userId}
        ,   #{userPw}
        ,   #{userName}
        ,   #{userLevel}
        ,   #{userIp}
        ,   NOW()
        ,   NOW()
        )
    </insert>

</mapper>