<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.metaboss.repository.OrderRepository">

    <select id="getOrder" parameterType="String" resultType="kr.co.metaboss.vo.OrderVO">
        SELECT *
        FROM TB_ORDER
        <if test="column != ''">
            WHERE #{column} LIKE CONCAT( '%', #{value}, '%' )
        </if>
    </select>

    <insert id="insertOrder" parameterType="kr.co.metaboss.dto.smm.Order">
        INSERT INTO TB_ORDER (
            orderId
        ,   vendor
        ,   orderAction
        ,   service
        ,   link
        ,   quantity
        ,   runs
        ,   orderInterval
        ,   regDate
        ) VALUES
        (
            #{orderId}
        ,   #{vendor}
        ,   #{action}
        ,   #{service}
        ,   #{link}
        ,   #{quantity}
        ,   #{runs}
        ,   #{interval}
        ,   NOW()
        )
    </insert>
</mapper>