<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.metaboss.repository.ProductRepository">

    <select id="getProductByVendor" parameterType="String" resultType="kr.co.metaboss.vo.ProductVO">
        SELECT *
        FROM TB_PRODUCT
        WHERE vendor = #{vendor}
        AND productName LIKE '%korea%'
        AND productName LIKE '%Organic%'
        AND productName LIKE '%Keywords%'
    </select>

    <select id="getTotalCountByVendor" parameterType="String" resultType="int">
        SELECT count(*)
        FROM TB_PRODUCT
        WHERE vendor = #{vendor}
        AND productName LIKE '%korea%'
        AND productName LIKE '%Organic%'
        AND productName LIKE '%Keywords%'
    </select>

    <select id="getProductServices" parameterType="String" resultType="java.util.List">
        SELECT service
        FROM TB_PRODUCT
        WHERE vendor = #{vendor}
    </select>

    <insert id="insertProduct" parameterType="java.util.HashMap">
        INSERT INTO TB_PRODUCT (
            vendor
        ,   service
        ,   productName
        ,   productType
        ,   category
        ,   rate
        ,   minOrder
        ,   maxOrder
        ,   refill
        ,   dripfeed
        ,   cancel
        ) VALUES
        (
            #{vendor}
        ,   #{service}
        ,   #{name}
        ,   #{type}
        ,   #{category}
        ,   #{rate}
        ,   #{min}
        ,   #{max}
        ,   #{refill}
        ,   #{dripfeed}
        ,   #{cancel}
        )
    </insert>
    
    <update id="updateProduct" parameterType="java.util.HashMap">
        UPDATE TB_PRODUCT
        SET  productName = #{name}
        ,   productType = #{type}
        ,   category = #{category}
        ,   rate = #{rate}
        ,   minOrder = #{min}
        ,   maxOrder = #{max}
        ,   refill = #{refill}
        ,   dripfeed = #{dripfeed}
        ,   cancel = #{cancel}
        WHERE vendor = #{vendor}
        AND service = #{service}
    </update>
</mapper>