<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.metaboss.repository.VendorRepository">

    <select id="getVendorList" resultType="kr.co.metaboss.vo.VendorVO">
        SELECT *
        FROM TB_VENDOR
    </select>

    <select id="getVendor" parameterType="String" resultType="kr.co.metaboss.vo.VendorVO">
        SELECT *
        FROM TB_VENDOR
        WHERE vendorName = #{vendor}
    </select>
    
    <update id="updateProduct" parameterType="java.util.HashMap">
        UPDATE TB_PRODUCT
        SET  productName = #{name}
        ,   productType = #{type}
        ,   category = #{category}
        ,   rate = #{rate}
        ,   minOrder = #{min}
        ,   maxOrder = #{max}
        ,   refill = #{refill}
        ,   dripfeed = #{dripfeed}
        ,   cancel = #{cancel}
        WHERE vendor = #{vendor}
        AND service = #{service}
    </update>
</mapper>